
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #102a80, #0f39c5, #23A6D5, #f9f9fa);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    overflow: hidden;
   }

   nav{
    background-color: #000;
    height: 16vh;
    flex: 100%;
   }
   
 .logo{
    width: 10vw;
  }
  .flex-item-1 img{
    margin: 1rem 0rem 1rem 2rem;
    float: left;
    text-decoration: none;
    width: 100%;
    

    }
  
  .flex-item-2 {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 75vh;
    padding: 10px;
    flex-direction: column;
    flex:50%;
  }
    .flex-item-2 img{
     margin-top: 1rem;
      width: 100%;
  } 
  .flex-item-3 {
      background-color: #fff;
    padding: 10px;
    flex-direction: column;
    flex: 50%;
    height: 75vh;
  }
  .flex-item-3  h2{
    margin-left: 4rem;
    color: #747272;
    text-shadow: 1px 2px 1px #000;
    font-size: 3rem;
   }
   .flex-item-3 p{
    text-align: center;
    margin-left: 1rem;
    color: #464444;
    font-size: 1.3rem;
   }

   .flex-item-3 a{
    padding: 0.5em;
    margin: 4rem 0rem 2rem 15rem;
    border-radius: 5%;
    text-align: center;
    font-size: 1.3rem;
    background:#0c1b31;
    color: #F2F9FF;
   }
   .flex-item-3 a:hover {
    background: none;
    color: #0c1b31;
    border: 2px solid #0c1b31;
   }
   
   .social {
    background: #000;
    width: 100%;
    height: 11vh;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 100%;
  }
  .social .icons {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .social a {
    padding: 0.5em;
    margin: 0 0.5em;
    border: 1px solid #5CE0F2;
    border-radius: 50%;
    text-align: center;
    font-size: .6em;
    background:#0c1b31;
    color: #F2F9FF;
  }
  .social a:hover {
    color: #5CE0F2;
    border: 1px solid #fff;
  }
  .flex-item-5 {
    background-color: #000;
    padding: 10px;
    height: 3vh;
    flex: 100%;
    position: relative;
  }
    .feature-container h2{
    font-size: 1.1rem;
    position: absolute;
    left: 1rem;
    bottom: 2.5rem;
    color: #23A6D5;
    }
  
  .feature-container p {
    position: absolute;
    font-size: 1rem;
    left: 1rem;
    bottom: 1rem;
    color: #fff;
    }
    .feature-container h4 {
      position: absolute;
      font-size: 1rem;
      left: 1rem;
      bottom: -1rem;
      font-weight: bold;
      color: #fff;
  }
  .feature-container h5 {
    position: absolute;
    font-size: .6rem;
    text-align: center;
    font-weight: 200;
   left: 30rem;
    bottom: -1rem;
    color:#fff;
  }
  .feature-container a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
 
  @media (max-width: 800px) {
    .flex-item-2, .flex-item-1 {
      flex: 100%;
    }
    nav{
        height: 10vh;
    }
    .logo{
      width: 19vw;
    }
    .flex-item-2 img{
        margin-top: 6rem;
    }
    .flex-item-3 {
        flex-wrap: nowrap;
        height: 70vh;
    }
    .flex-item-3 p{
        font-size: .9rem;
        margin-bottom: 2rem;
       }
    
    .flex-item-3 a{
        margin: 0rem 0rem 0rem 7rem;
    }
    .social{
        height: 40vh;
        position: relative;
    }
    .social .icons {
        position: absolute;
        bottom: 13rem;
    }
    .feature-container h2{
        font-size: 1.4rem;
        left: 6.5rem;
        bottom: 8rem;
        }
      .feature-container p {
        left: 5rem;
        bottom: 7rem;
        }
        .feature-container h4 {
        left: 4.5rem;
        font-size: 1rem;
        bottom: 5.2rem;
         }
      .feature-container h5 {
        left: 1rem;
        bottom: 2rem;
        color:#fff;
      }
      .feature-container a{
        text-decoration: none;
        color: #fff;
        font-weight: bolder;
    }
     
  }
