* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */

h1, p {
  color:#525151;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:#000;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #102a80, #0f39c5, #23A6D5, #f9f9fa);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 65vh;
  min-height: 350px;
  background: linear-gradient(rgba(7, 7, 7, 0.1),rgba(145, 144, 144, 0.2)), url('./Carvalho.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.headline .span{
margin:1rem 38rem 1rem 5rem;
color: #525151;
}
.headline .ctto{
margin:0rem 38rem 0rem 5rem;
color: #525151;
}
.headline h1{
  color: #747272;
  text-shadow: 1px 2px 1px #000;
  font-size: 3rem;
  margin: 0rem 38rem 0rem 5rem;
}
.headline .btn-main {
  position: absolute;
  left: 20rem;
  top: 21rem;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 5%;
  text-align: center;
  font-size: 1.3em;
  background:#0c1b31;
  color: #F2F9FF;
}
  .btn-main:hover {
  background: none;
  color:#5CE0F2;
  border: 2px solid #333333;;
}

.social {
  background: #000;
  width: 100%;
  height: 11vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social .icons {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social a {
  padding: 0.5em;
  margin: 0 0.5em;
  border: 1px solid #5CE0F2;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  background:#0c1b31;
  color: #F2F9FF;
}
.social a:hover {
  color: #5CE0F2;
  border: 1px solid #fff;
}
.feature-container {
  flex-basis: 30%;
  margin-top: 0px;
  height: 18vh;
  background-color: #000;
  position: relative;
 }
 .feature-container h2{
  position: absolute;
  left: 2rem;
  bottom: 4.6rem;
  color: #23A6D5;
  }

.feature-container p {
  position: absolute;
  left: 2rem;
  bottom: 3.9rem;
  color: #FFF;
  }
  .feature-container h4 {
    position: absolute;
    left: 2rem;
    bottom: 2.9rem;
    font-weight: bold;
    color:#fff;
}
.feature-container h5 {
  position: absolute;
  font-size: .8rem;
  text-align: center;
 left: 25rem;
  bottom: 1rem;
  
 color:#fff;
}
.feature-container a{
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}



/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }}
  
  @media (max-width: 768px){
    body{
      background-color: #000;
    }
    .page-wrapper img{
        width: 7rem;
    }
    .headline {
      background-color: #f8f6f6;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .headline .span{
     margin:0;
    color: #525151;
      }
      .headline .ctto{
       margin: 0;
       color: #525151;
      }
      .headline h1{
        font-size: 1.5rem;
        margin: 1rem 0rem 1rem 0rem ;
        }
        .headline .btn-main {
          position: absolute;
          left: 7.5rem;
          top: 19rem;
          padding: 0.5em;
          margin: 0 0.5em;
          border-radius: 5%;
          text-align: center;
          font-size: .9em;
          background:#0c1b31;
          color: #F2F9FF;
        }
        .feature-container {
          flex-basis: 30%;
          margin-top: 0px;
          height: 18vh;
          background-color: #000;
          position: relative;
         }
         
        
  }
  
  
